![]( https://docs.google.com/uc?export=download&id=1oKIi5t0GlSKAoPTIt1f-DcOu0GcYHDD4)

In [1]:
# Rencana Pembelajaran FGA Big Using Python Kelas B
# Fakultas Ilmu Komputer (Filkom), Universitas Brawijaya (UB) 2021
# Instruktur: Imam Cholissodin, S.Si., M.Kom. | email: imamcs@ub.ac.id
# Link Free Buku Ajar tentang "Big Data Dengan Java/Scala/Python" dari saya: http://bit.ly/2FMLnfw
# Tgl 22 Juli 2021
# =====================================================================
# Kolaborasi Instruktur Filkom x Mipa UB 2021
# Di Bawah Naungan Kominfo Pusat x Cisco x AWS x lainnya dlm FGA
# =====================================================================

# Asisten Kelas B: Yonas Asmara

# Jumlah Peserta: 27 Orang
# Link Materi & Tugas FGA Big Using Python Kelas B: https://bit.ly/3wRG6ux 

# Big Thank to Pak Guntur sebagai Instruktur ToT Big Data Using Python di Kominfo (link github beliau, https://bit.ly/3kxaV5d )
# Matursuwun sanged Pak Guntur atas ilmu dan share materinya
# Monggo berkunjung juga ke materi Big Data dari github saya di https://bit.ly/3Bsg5Wi :D

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Materi Pembelajaran

* Library Session 2 (Flask) 
> * Apa itu Flask (Web base)
> * Komparasi Flask vs Django
* Apa itu SSH, Reverse SSH Tunneling dengan Ngrok dan Bagaimana membuat seperti Ngrok secara mandiri Ref. https://bit.ly/3llL4O5 dari github saya.
![]( https://docs.google.com/uc?export=download&id=1reE4xX0bzOHPTqIpbXWZagnv3nJbbTfM)

* Flask x SQLite pada Google Colab base Tunneling dengan Ngrok
* Diskusi: Flask vs Django utk Big Data Apps

In [2]:
import os
os.chdir("/content/drive/My Drive")
path = "Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python"
if not os.path.exists(path):
    os.makedirs(path)
os.chdir("/content/drive/My Drive/Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python")
if not os.path.exists("images"):
  !wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=1-A9hoqmtpKWBAu_QjyqUxpcuBXkJ-Gk8' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1-A9hoqmtpKWBAu_QjyqUxpcuBXkJ-Gk8" -O 'images.tar' && rm -rf /tmp/cookies.txt
  !tar -xv -C './' -f './images.tar'

!pwd
!ls -l -a --block-size=K

/content/drive/My Drive/Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python
total 584K
drwx------ 2 root root   4K Aug  4 01:59 flask-sqlite
drwx------ 2 root root   4K Jul 20 09:59 images
-rw------- 1 root root 570K Jul 23 02:06 images.tar
-rw------- 1 root root   2K Aug  6 09:23 index.html
drwx------ 2 root root   4K Jul 23 02:10 Latihan_Python

In [3]:
os.chdir("/content/drive/My Drive/Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python/flask-sqlite/csv2sqlite_3")

In [4]:
!pwd

/content/drive/My Drive/Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python/flask-sqlite/csv2sqlite_3

# Intro

In [5]:
!pip install db-sqlite3

Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     |████████████████████████████████| 171 kB 8.1 MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1793 sha256=4680e54a7ee3a86782bd8c5554dd553aad9a1a466d4083311ac307ac9a72559f
  Stored in directory: /root/.cache/pip/wheels/02/38/d5/2f54461050571bf5330fee2a37ab1c9b5e7540b0572f1acdab
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3893 sha256=f0591e5af19d7c6b15bdd7bd8ee17f65f190ffff471ebe23d8fe572db8a5f5d8
  Stored in directory: /root/.cache/pip/wheels/8e/97/82/741d2b360507411ec233d0280d7371faa94b03bde834e4a9be
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31678 sha256=8fff6fc85d40458f74e55b5607000a73a38268e4e3d3781b903c5a58d83b0709
  Stored in directory: /root/.cache/pip/wheels/c5/43/70/e9729370cfff40c49d3e3d05377d54b3ecd71f64e62341ea80
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [6]:
import pandas as pd
import sqlite3
from datetime import date

In [7]:
#connecting with the database.
db = sqlite3.connect("fga_big_data.db")
db.execute("drop table if exists Data_Generate_Cluster_Segmen_Ecommerce")
#db.execute("drop table if exists user")
try:
  db.execute("create table Data_Generate_Cluster_Segmen_Ecommerce(Gender text, Daerah asal text, Kategori Barang text, Umur int, Nilai Transaksi dalam KRp int, Rating Barang int)")
  #db.execute("create table user(id integer primary key, Mail text, Password text, Name text, Level text)")
except:
  print("Already table existed !!")

In [8]:
db = sqlite3.connect("fga_big_data.db")

In [ ]:
# Coba membuat 1 data utk tabel dataset, lalu dimasukkan dalam fga_big_data.db
Gender = "Wanita"
Daerah_Asal = "Jawa Barat"
Kategori_Barang = "Kecantikan"
Umur = '26'
Nilai_Transaksi_dalam_KRp = '10000'
Rating_Barang = '3'

# Coba membuat 1 data utk tabel user, lalu dimasukkan dalam fga_big_data.db
#Mail_u = "fga_big_data2@python.com"
#Password_u = "bigdata"
#Name_u = "Big Data Using Python"
#Level_u = "1" # 1 Admin, 0 User Non-Admin

In [ ]:
db = sqlite3.connect("fga_big_data.db")
cmd = "insert into Data_Generate_Cluster_Segmen_Ecommerce(Gender,Daerah_Asal,Kategori_Barang,Umur,Nilai_Transaksi_dalam_KRp,Rating_Barang) values('{}','{}','{}','{}','{}','{}')".format(Gender,Daerah_Asal,Kategori_Barang,Umur,Nilai_Transaksi_dalam_KRp,Rating_Barang)

# Querying

### Type - 1 Querying

In [ ]:
db = sqlite3.connect("fga_big_data.db")
rs = db.execute('SELECT * FROM Data_Generate_Cluster_Segmen_Ecommerce')
for row in rs:
    print (row)

In [ ]:
#db = sqlite3.connect("fga_big_data.db")
#rs = db.execute('SELECT * FROM user')
#for row in rs:
 #   print (row)

### Type - 2 Querying

In [ ]:
db = sqlite3.connect("fga_big_data.db")
qry = """

SELECT * FROM Data_Generate_Cluster_Segmen_Ecommerce

"""
df = pd.read_sql_query(qry, db)
df.head()

Empty DataFrame
Columns: [Gender, Daerah, Kategori, Umur, Nilai, Rating]
Index: []

# Batch-wise data storage

In [9]:
def pushCSVdatagenerateToDB(Gender,Daerah_Asal,Kategori_Barang,Umur,Nilai_Transaksi_dalam_KRp,Rating_Barang):
#inserting values inside the created table
    db = sqlite3.connect("fga_big_data.db")    
    from datetime import date
    Date = date.today().strftime("%d-%m-%Y")
    cmd = "insert into Data_Generate_Cluster_Segmen_Ecommerce(Gender,Daerah Asal,Kategori Barang,Umur,Nilai Transaksi dalam KRp,Rating Barang) values('{}','{}','{}','{}','{}','{}')".format(Gender,Daerah_Asal,Kategori_Barang,Umur,Nilai_Transaksi_dalam_KRp,Rating_Barang)
    db.execute(cmd)
    db.commit()

In [10]:
data = pd.read_csv("Data_Generate_Cluster_Segmen_Ecommerce.csv")
data.shape

(10000000, 6)

In [ ]:
data.head(30)

   Gender (X1)  ... Rating Barang (X6)
0       Wanita  ...                  3
1       Wanita  ...                  2
2         Pria  ...                  1
3         Pria  ...                  4
4         Pria  ...                  1
5         Pria  ...                  4
6         Pria  ...                  2
7         Pria  ...                  2
8       Wanita  ...                  1
9         Pria  ...                  2
10        Pria  ...                  4
11      Wanita  ...                  3
12        Pria  ...                  2
13      Wanita  ...                  4
14        Pria  ...                  4
15        Pria  ...                  3
16      Wanita  ...                  2
17      Wanita  ...                  4
18      Wanita  ...                  4
19        Pria  ...                  1
20        Pria  ...                  1
21      Wanita  ...                  4
22      Wanita  ...                  2
23        Pria  ...                  4
24      Wanita  ...                  3
25      Wanita  ...                  1
26      Wanita  ...                  4
27        Pria  ...                  3
28      Wanita  ...                  3
29        Pria  ...                  4

[30 rows x 6 columns]

In [ ]:
#pushCSVdatasetToDB("Sql lite x Python","0234723523","dasdas@mail.com")

In [ ]:
#db = sqlite3.connect("fga_big_data.db")
#qry = "SELECT * FROM dataset"
#df = pd.read_sql_query(qry, db)
#df.head()

                    Name        Date      Mobile                      Mail
0  Big Data Using Python  04-08-2021     5434534  fga_big_data2@python.com
1      Sql lite x Python  04-08-2021  0234723523           dasdas@mail.com

In [ ]:
# CSV_to_SQLite3 dari file dataset_csv.csv
#for i in range(0,len(data)):
  #pushCSVdatasetToDB(data.iloc[i][0],data.iloc[i][1],data.iloc[i][2])

In [ ]:
#db = sqlite3.connect("fga_big_data.db")
#qry = """

#SELECT * FROM dataset WHERE Name LIKE "Test%"

#"""
#df = pd.read_sql_query(qry, db)
#df.head()

In [ ]:
#db = sqlite3.connect("fga_big_data.db")
#qry = """

#SELECT * FROM dataset WHERE Name="Test1"

#"""
#df = pd.read_sql_query(qry, db)
#df.head()

In [ ]:
# CSV_to_SQLite3 dari file user_csv.csv
#data2 = pd.read_csv("user_csv.csv")
#data2.shape
# data2.head()

In [ ]:
#data2.head(1128)

In [ ]:
#def pushCSVuserToDB(Mail,Password):
#inserting values inside the created table
#    db = sqlite3.connect("fga_big_data.db")    
#   Name = "Big Data Using Python"
#    Level = "0"
#    cmd = "insert into user(Mail,Password,Name,Level) values('{}','{}','{}','{}')".format(Mail,Password,Name,Level)
#    db.execute(cmd)
#    db.commit()

In [ ]:
#for i in range(0,len(data2)):
 # pushCSVuserToDB(data2.iloc[i][0],data2.iloc[i][1])

In [ ]:
#db = sqlite3.connect("fga_big_data.db")
#qry = """

#SELECT * FROM user

#"""
#df = pd.read_sql_query(qry, db)
#df.head()

In [ ]:
#db = sqlite3.connect("fga_big_data.db")
#cmd = """
#DELETE FROM user WHERE Mail LIKE "Test%"
#"""
#db.execute(cmd)
#db.commit()

Semoga Sukses. Aamiin. :D
![]( https://docs.google.com/uc?export=download&id=1vJNmuncRehLc3WCZkFYCU6rRMVTy-w0k)